# 1. Systeem & Python rommel
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.DS_Store

# 2. Virtual Environment (HEEL BELANGRIJK - bevat duizenden bestanden)
venv/
env/
.venv/

# 3. Output bestanden (Midi's en Zips die je maakt)
*.mid
*.zip

# 4. JOUW Privé Projectmappen (Vul hier namen van mappen in die je niet wilt delen)
Basslinewald/
Connection/
/input_projects/
/output_midi/

# 5. Nano/Editor tijdelijke bestanden
*.save
*.swp
